{% extends "base.html" %}

{% block title %}VMLibrary{% endblock %}


{% block content %} 
<h3 style="text-align: center;">You have successfully logged in to Spotify!</h3>
<br>
<h5 style="text-align: center;">Please click below to start downloading your data:</h5>
<!-- <h5 style="text-align: center;">Retrieving all data from your Spotify account may take up to 10 minutes.</h5> -->
<!-- <h5 style="text-align: center;">Please enjoy a cup of coffee while we work on creating your brand new library.</h5> -->
<div style="margin-bottom: 50px;"></div>
<div style="text-align: center;">
<form method="POST">
    <input type="submit" value="Create library" name="create_library" class="btn btn-dark">
    <div style="margin-bottom: 20px;"></div>
    <input type="submit" value="Changed my mind" name="create_library" class="btn btn-dark">
</form>
</div>
{% endblock %}

