{% extends "base.html" %}

{% block title %}Delete account{% endblock %}


{% block content %} 
{% if current_user.is_library_created == True %}
    <h3 style="text-align: center; color:white;">Are you sure</h3>
    <h3 style="text-align: center; color:white;">you want to delete Your Sound Archive account?</h3>
{% else %}
    <h3 style="text-align: center; color:white;">Are you sure</h3>
    <h3 style="text-align: center; color:white;">you want to delete Your Sound Archive account?</h3>
{% endif %}
<div style="margin-bottom: 50px;"></div>
<div style="text-align: center;">
    <form method="POST">
        <input type=submit value="Yes" name="answer" class="btn btn-dark">
        <div style="margin-bottom: 20px;"></div>
        <input type=submit value="No" name="answer" class="btn btn-dark">
    </form>
</div>


{% endblock %}