{% extends "base.html" %}

{% block title %}VMLibrary{% endblock %}


{% block content %} 
<h1 style="text-align: center;">Welcome to Virtual Music Library</h1>
<br>
<br>
<h3 style="text-align: center;">All your favorite tracks in one place.</h3>

<h3 style="text-align: center;">Keep all of your music neatly organized so that you have a bird's-eye view of the collection.</h3>
<br>
<br>
<h5 style="text-align: center;">Currently available for <img src="Spotify_Logo_RGB_Green.png" alt="Spotify logo" width="8%"> users only</h5>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 style="text-align: center;">Music arranged into genre folders</h5>
            Easier to search through your artists when they are divided into genres. Genre classification is fluid so you can always move
            any artist to another folder if the one assigned by the app does not suit you.
        </div>
        <div class="col">
            <h5 style="text-align: center;">Separate folder for each artist</h5>
            Each artist folder comprises tracks sourced from your list of liked songs and playlists. No need to worry if you've overlooked
            liking certain songs by your favorite artists that are exclusively present in your playlists.
        </div>
    </div>
<br>
<br>
    <div class="row">
        <div class="col">
            <h5 style="text-align: center;">Every song matters</h5>
            A dedicated folder for each genre housing tracks from artists with a limited presence in your library. Artist folders exclusively
            feature your most-listened-to musicians, while the 'loose tracks' section gathers those unique finds which are equally important.
        </div>
        <div class="col">
            <h5 style="text-align: center;">Artist's remixes and featured tracks included</h5>
            Enjoying an artist with an extensive remix collection? Despite remix authors not being the main artists,
            they are still included in the artist folder. Featured tracks are showcased as well.
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 style="text-align: center;">Find out more about how this app works</h5>
            <br>
            <div style="text-align: center;">
                <form action="/how_it_works">
                    <input type=submit value="How it works" class="btn btn-dark">
                </form>
            </div>
        </div>
        <div class="col">
            <h5 style="text-align: center;">See an example of VML library</h5>
            <br>
            <div style="text-align: center;">
                <form action="/library">
                    <input type=submit value="See an example" class="btn btn-dark">
                </form>
            </div>
        </div>
    </div>
</div>






<br>
<br>
{% endblock %}

