{% extends "base.html" %}

{% block title %}How It Works{% endblock %}

{% block content %}

<div style="margin-bottom: 100px;"></div>
<div class="container-fluid">

            <div class="card text-white mb-3" style="background-color: rgb(2, 2, 2); border: 1px solid rgb(153, 149, 149)">
                <h3 class="card-header text-center">How My Sound Archive works</h3>
                <div class="card-body">
                    <p class="card-text text-center">
                        As a default My Sound Archive retrieves from your Spotify account all tracks which are:<br>
                        - your liked songs (all songs included in your “Liked Songs” playlist),<br>
                        - members of playlists which you have created.<br>
                        <br>
                        If some of your liked songs show up in your playlists as well, don't worry - My Sound Archive takes care of this and won't show any songs in your collection duplicated.
                        You can customize your archive contents later - exclude songs from some or all of your playlists.
                        <br><br>
                        <span style="font-weight: bold; text-decoration: underline">My Sound Archive won't modify any of your data on Spotify</span> - there's simply no functionality in our app which could do that.
                        You can change the contents of your collection only by adding new songs on Spotify.
                    </p>
                </div>
            </div>

            <div style="margin-bottom: 100px;"></div>

            <div class="card text-white mb-3" style="background-color: rgb(2, 2, 2); border: 1px solid rgb(153, 149, 149)">
                <h3 class="card-header text-center">Why My Sound Archive provides a better way of displaying music library than Spotify?</h3>
                <div class="card-body">
                    <p class="card-text text-center">
                        <p>Spotify is renowned for its highly effective music recommendation algorithm, yet the user's library lacks methods
                            for organizing its content. While it's easy to discover new music to add to your collection, it becomes increasingly
                            challenging to keep track of it.</p>
                        
                        <p>Unless you search through a long list of liked songs or artists when selecting something to listen to there's
                        a risk of missing a significant portion of your content. While it's possible to organize songs into playlists,
                        adding them all to playlists isn't a practical solution. Playlists can be organized into folders but unfortunately
                        this feature is not extended to artists whom the user follows.</p>
                    </p>
                </div>
            </div>
    </div>
</div>


<div style="margin-bottom: 200px;"></div>


{% endblock %}

