{% extends "base.html" %}

{% block title %}VMLibrary{% endblock %}


{% block content %} 
<br>
<h1 style="text-align: center;">How this app works</h1>
<br>
As a default VML retrieves from your Spotify account all tracks which are:<br>
- your liked songs (all songs included in your “Liked Songs” playlist),<br>
- members of playlists which you have created.<br>
<br>
If some of your liked songs show up in your playlists as well, don't worry - VML takes care of this and won't show any songs in your library duplicated.
You can customize your retrieving algorithm later - exclude songs from all or some of your playlists, include songs from playlists that you follow or all songs from saved albums.
<br><br>
<span style="font-weight: bold; text-decoration: underline">VML won't modify any of your data on Spotify</span> - there's simply no functionality in our app which could do that.
You can change the contents of VML library only by adding new songs on Spotify.
<br>
<br>
<br>
<br>
<h3 style="text-align: center;">Why VML provides a better way of displaying music library than Spotify?</h3>
<br>
<p>Spotify is known for its very good music recommendations algorithm but user's library lacks methods to organize its content.
It is easy to find new music that you can add to your collection but at the same time it gets more difficult to keep track of it.</p>

<p>Unless you search through a long list of liked songs or artists you can miss a lot of your content. It is possible to organize songs
into playlists however adding them all to playlists is not a solution either. Playlists can be put into folders but unfortunately this feature
is not provided for artists that user follows.</p>



<br>
<br>
{% endblock %}

