{% extends "base.html" %}

{% block title %}VMLibrary{% endblock %}


{% block content %} 

<br>
<h3 style="text-align: center;">Hello {{username}},</h3>
<h3 style="text-align: center;">your VML account is now created.</h3>
<br>
<br>
<br>
<h3 style="text-align: center;">Please log in to Spotify to retrieve your music collection.</h3>
<br>
<div style="text-align: center;">
<form action="/spotify/authorization">
    <input type=submit value="Log in to Spotify" class="btn btn-dark">
</form>
</div>
{% endblock %}

