{% extends "base.html" %}

{% block title %}VMLibrary{% endblock %}


{% block content %} 
<h1 style="text-align: center;">Hello {{username}},</h1>
<h5 style="text-align: center;">your VML account is now created.</h5>
<br>
<br>
<br>
<h5 style="text-align: center;">Please log in to Spotify to retrieve your music collection:</h5>
<br>
<div style="text-align: center;">
    <form method="POST">
        <input type=submit value="Log in to Spotify" class="btn btn-dark">
    </form>
</div>
{% endblock %}

