body {
    background-color: rgb(26, 0, 51);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Verdana;
}

.container {
    display: flex;
    flex-direction: row;

}

.item {
    border-style: solid;
    border-color:rgb(172, 0, 230)
}


.Tracks {
    flex-grow: 1;

}


span.track {
    background-color: rgb(237, 179, 255)
}

span.track_add {
    background-color: rgb(204, 104, 235)
}

a.play_track{
    background-color: rgb(51, 0, 102);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(242, 230, 255);
    border-radius: 10px;
}